apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-app
  type: NodePort 
  ports:
    - protocol: TCP
      port: 5000       # Internal port
      targetPort: 5000 # Container port
      nodePort: 30007  # Fixed port for easy access