apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        # REPLACE THIS WITH YOUR ACTUAL IMAGE NAME
        image: iamsushant/flask-k8s-app:v1
        ports:
        - containerPort: 5000
        
        # Resource requests/limits (Source [154])
        resources:
          requests:
            memory: "250Mi"
            cpu: "200m"
          limits:
            memory: "500Mi"
            cpu: "500m"
            
        # Environment Variables to connect to Mongo
        env:
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-user
        - name: MONGO_PASS
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-password
        # We construct the URI using the user/pass and the service name
        - name: MONGODB_URI
          value: "mongodb://$(MONGO_USER):$(MONGO_PASS)@mongo-service:27017/"